.datePicked {
  text-align: center;
  background-color: #4281A4;
  color: white;
  padding: 17px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  font-size: xx-small;
  font-family: Monaco;
}

.vertical-align {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-align * {
  width: 100%;
}

.font1 {
  font-family: Arial;
  font-size: large;
}

.font2 {
  font-family: Helvetica;
  font-size: x-large;
}

